* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --bg-header: #24252a;
  --bg-button: #0187a7;
  --shadow: #464646;

  --white: #fff;
}

body {
  min-height: 100vh;

  font-family: 'Manrope', sans-serif;
  font-size: 1.6rem;
}

header {
  background-color: var(--bg-header);
  box-shadow: 0px 3px 10px var(--shadow);
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 6rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo h1 {
  color: var(--white);
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav-item {
  margin: 0 1.5rem;
}

.nav-link {
  text-decoration: none;
  color: var(--white);
  font-weight: 400;
}

.nav-link:hover {
  color: var(--bg-button);
}

.login-button button {
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  background-color: var(--bg-button);
}

.login-button button a {
  text-decoration: none;
  color: var(--white);
  font-weight: 500;
}

.mobile-menu-icon {
  display: none;
}

.mobile-menu {
  display: none;
}

@media screen and (max-width: 730px) {
  .nav-bar {
      padding: 1.5rem 4rem;
  }

  .nav-item {
      display: none;
  }

  .login-button {
      display: none;
  }

  .mobile-menu-icon {
      display: block;
  }

  .mobile-menu-icon button {
      background-color: transparent;
      border: none;
      cursor: pointer;
  }

  .mobile-menu ul {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding-bottom: 1rem;
  }

  .mobile-menu .nav-item {
      display: block;
      padding-top: 1.2rem;
  }

  .mobile-menu .login-button {
      display: block;
      padding: 1rem 2rem;
  }

  .mobile-menu .login-button button {
      width: 100%;
  }

  .open {
      display: block;
  }
}
