* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  min-height: 100vh;

  font-size: 1.6rem;

  background: #333;
  font-family: 'Roboto', sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 40%;

  text-align: center;

  display: grid;
  gap: 4rem;
}

.container h1 {
  color: white;
}

.emoji-area {
  width: 100%;
  height: 10rem;
  font-size: 2rem;

  background: white;

  padding: 1.5rem;

  border-radius: 20px;
}

button {
  width: 30%;

  font-weight: 400;
  color: whitesmoke;

  padding: 1.5rem;
  margin: 0 auto;

  background: blueviolet;

  border: none;
  border-radius: 5px;
  
  cursor: pointer;
}

.emoji-picker {
  min-width: 30rem;
}