* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  min-height: 100vh;

  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;

  background: linear-gradient(to top right, rgb(85, 0, 85), lightblue);
  color: white;

  transition: .2s;
}

main {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  margin: 2rem;

  position: absolute;

  display: flex;
  flex-direction: column;
  align-items: center;

  
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  padding: 3rem;

  background: rgba(255, 255, 255, 0.1);

  transition: .2s;
}

.header {
  text-align: center;
}

.header img {
  width: 20rem;
  border: 1px solid purple;
  border-radius: 50%;

  padding: .7rem;
  margin-bottom: 2rem;

  transition: .2s;
}

.header h1 {
  font-size: 3rem;
  font-weight: 300;

  margin-bottom: 2rem;
}

input[type="checkbox"] {
  appearance: none;
  width: 80px;
  height: 40px;

  background-color: #d5d5d5;
  border-radius: 50px;
  position: relative;
  cursor: pointer;
  transition: .3s;

  margin-bottom: 2rem;
}

input[type="checkbox"]::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: black;
  border-radius: 50%;
  left: 6px;
  top: 8px;
  transition: .3s;
}

input[type="checkbox"]:checked {
  background: linear-gradient(91deg, white, #4b00ffd4);

  /*  #ff01a5d4, #4b00ffd4 */
}

input[type="checkbox"]:checked::before {
  background: #000;
  left: 48px;
}

.social-links {
  display: flex;
  flex-direction: column;

  gap: 1.5rem;
}

a.link {
  text-align: center;
  text-decoration: none;

  font-size: 1.8rem;
  font-weight: 600;

  border: none;
  border-radius: 5px;

  padding: 1.2rem 5rem;
  
  color: rgb(178, 0, 248);
  background: white;

  cursor: pointer;
  
  transition: .3s;
}

a.link:hover {
  background: rgb(178, 0, 248);
  color: white;
}

/* ================= DARK THEME =============================== */
body.switchTheme {
  background: linear-gradient(to top right, #111 , #222);
}

body.switchTheme .page {
  box-shadow: 20px 20px 50px rgba(255, 255, 255, 0.2);
}

body.switchTheme .header img {
  border-color: white; 
}

body.switchTheme a {
  background-color: #d3d3d3;
  color: #8c00ff;
}