* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  background: #111;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1rem;
}

main {
  background: #333;
  border-radius: 10px;
  box-shadow: -2px 5px 5px whitesmoke;
  padding: 10rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main h1 {
  color: white;
  margin-bottom: 2rem;
}

main .pressKey {
  width: 60%;
  height: 6rem;

  background: #999;
  border-radius: 10px;

  box-shadow: -2px 5px 5px white;

  font-size: 2rem;
  color: purple;

  display: flex;
  align-items: center;
  justify-content: center;
}